 .u-section-1 {
  background-image: url("images/Capturadepantalla2024-05-13192934.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat;
  margin: 41px 684px 0 -87px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 691px 60px -94px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 11.04% 24.24%;
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 584px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 591px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 26.14% 31.39%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 130px;
    margin-right: 474px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 481px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 32.44% 35.69%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 391px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 37.61% 50.29%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 291px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 70px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-2 .u-group-1 {
  min-height: 260px;
  height: auto;
  width: 393px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 46px auto 0 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 562px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  background-image: none;
  height: 493px;
  width: 510px;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-2 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-2 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 449px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    width: 519px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 456px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 316px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-3 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 316px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 116px;
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}